* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.background-image {
  min-height: 100vh;
  width: 100%;
  background-image: url(images/Space\ Background\ GIF\ image.gif);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  position: relative;
}
.navbar {
  position: sticky;
  top: 0;
  /* sai-need to add color */
  background: #000011;
}
nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

nav img {
  width: 150px;
  height: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style-position: none;
  display: inline;

  padding: 10px 20px;
  position: relative;
}

.nav-links ul li a {
  /* sai----need to update the color */
  color: #c6d4da;
  text-decoration: none;
  font-size: 30px;
}
.nav-links ul li a:hover {
  /* sai --- need to update color */
  background: #473a76;
}
#fact {
  /* sai --- nedd to update margin on section */
  padding: 150px 0px;
}

.text-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text-box h1 {
  /* sai --- need to update the color */
  color: #d3b6fa;
  font-size: 50px;
  font-size: xx-large;
  padding: 20px 80px;

  /* sai --- need to update margin top while scrolling */
  /* margin-top: 110px; */
}
.text-box ul li {
  /* sai --- need to update the color */
  color: #d3b6fa;
  padding: 20px 150px;
  font-size: 30px;
  list-style-type: disc;
  list-style-position: inside;
}

.text-box img {
  width: 700px;
  height: 700px;
  border-radius: 50%;
}

/* Pictures */
#image-slideshow {
  /* sai --- need to update padding on the section2 */
  padding: 150px 0px;
}

#image-slideshow h1 {
  /* sai --- need to update */
  color: #d3b6fa;
  padding: 20px 150px;
  font-size: 30px;
}

#image-slideshow h2 {
  /* sai --- need to update */
  color: #d3b6fa;
  padding: 20px 150px;
  font-size: 25px;
}

#slideshow-image {
  max-width: 700px;
  max-height: 700px;
  border-radius: 50%;
}

.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 10px;
  width: 500px;
  height: 100vh;
}

.section2 button {
  padding: 10px 20px;
  margin: 20px;
  border-radius: 70%;
  /* sai --- need to update */
  border: 2px solid black;

  /* sai --- need to update */
  background: rgb(243, 243, 243);
  opacity: 20%;
  color: #d50000;
  font-weight: 800;
  font-size: 25px;
}

/* Footer */
.footer {
  width: 100%;
  text-align: center;

  padding: 15px 0px;
  background: rgb(165, 165, 165);
}

.footer h4 {
  display: inline;
}

.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 10px;
  width: 500px;
  height: 100vh;
}
#scal {
  /* width: 500px; */
  height: 100vh;
  padding: 150px 0px;
}

#scal h1 {
  /* Sai --- need to update the color */
  color: #d3b6fa;
  padding: 20px 150px;
  font-size: 30px;
}

#scal h2 {
  /* sai ---need to update the color */
  color: #d3b6fa;
  padding: 20px 150px;
  font-size: 25px;
}

.footer a i {
  font-size: 30px;
  vertical-align: middle;
}
