/* BASIC STYLING */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
/* BACKGROUND IMAGE */
.background-image {
  max-height: 100vh;
  width: 100%;
  background-image: url(images/Space\ Background\ GIF\ image.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  background: #262634;
  z-index: 1;
  height: 60px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

nav img {
  width: 60px;
  height: 60px;
}

nav img:hover {
  width: 80px;
  height: 80px;
}

.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style-position: none;
  display: inline;
  padding: 10px 20px;
  position: relative;
  height: 50vh;
}

.nav-links ul li a {
  color: #c6d4da;
  text-decoration: none;
  font-size: 25px;
}

.nav-links ul li a:hover {
  background: #473a76;
  font-size: 30px;
  color: aliceblue;
}
/* SECTION 1 */
#section1 {
  height: 100vh;
  overflow: hidden;
}

.text-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 250px;
  height: 100vh;
}

.text-box h1 {
  color: #d3b6fa;
  font-size: 50px;
  font-size: xx-large;
  text-align: center;
  padding: 20px 80px 20px 0;
}

.text-box ul li {
  color: #d3b6fa;
  padding: 20px 180px;
  font-size: 30px;
  list-style-type: disc;
  list-style-position: inside;
  white-space: nowrap;
  line-height: 10px;
}

.text-box img {
  position: relative;
  max-height: 500px;
  max-width: 500px;
  border-radius: 50%;
}

/* ROTATING IMAGE IN SECTION 1 */

@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-img {
  animation: rotateImage 25s linear infinite;
}
/* SECTION 2 */
/* PICTURES IN SECTION 2*/
#image-slideshow {
  padding: 50px 0px;
  height: 100vh;
}

#image-slideshow h1 {
  color: #d3b6fa;
  padding: 20px 150px;
  font-size: 30px;
  text-align: center;
}

#slideshow-image {
  max-width: 500px;
  max-height: 500px;
  border-radius: 50%;
}

.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 50px;
  width: 500px;
}

.section2 button {
  padding: 10px 20px;
  margin: 20px;
  border-radius: 70%;
  border: 6px solid #d3b6fa;
  background: rgb(29, 29, 29);
  opacity: 100%;
  color: #d3b6fa;
  font-weight: 600;
  font-size: 25px;
}

/* SECTION 3 */
/* STYLE */
#section3-style {
  height: 100vh;
  padding: 50px 0px;
}

#section3-style h1 {
  color: #d3b6fa;
  padding: 20px 150px;
  font-size: 30px;
  text-align: center;
}

/* SIZE COMPARISON */
#comparisonBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
  height: 600px;
  margin: 20px auto;
}

#mercury {
  background-image: url(images/mercury-bg.jpg);
  width: 50px; /* Mercury's size as a base */
  height: 50px;
  border: 2px solid rgb(180, 180, 180);
}

.planet {
  border-radius: 50%;
  border: 2px solid rgb(248, 236, 226);
  background-size: cover;
  background-position: center;
}

#planetSelector {
  text-align: center;
  margin-bottom: 10px;
}

#planetDropdown {
  padding: 10px 12px;
  font-size: 25px;
  background: #c6d4da;
  color: #510da9;
  border: 2px solid blueviolet;
  border-radius: 20px;
  margin: 40px;
}

/* TEXT FOR PLANET COMPARISON */
.size-info {
  color: #d3b6fa;
  font-family: "Roboto Slab", serif;
  position: relative;
  text-align: center;
  font-size: 30px;
}

.size-info:hover {
  font-size: 35px;
}

/* FOOTER SECTION */
.footer {
  width: 100%;
  text-align: center;
  padding: 15px 0px;
  background: rgb(165, 165, 165);
  opacity: 70%;
  color: #432768;
  font-weight: bolder;
}

.footer a i {
  font-size: 30px;
  vertical-align: middle;
}

.footer h4 {
  display: inline;
}
